{% load static %}
    <!-- Toast-->
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
      <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
        <div class="toast-header">
          <img src="{% static 'main/img/title-icon.svg' %}" class="rounded me-2" alt="...">
          <strong class="me-auto">Notification</strong>
          <small>just now</small>
          <button type="button" class="btn-close" data-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          This feature is under development.
        </div>
      </div>
    </div>