{% extends "base_generic.html" %}

{% block page_head %}

{% endblock %}

{% block row1 %}
<div class="row">

                                <div class="col-lg-12 mb-4">
                                    <div class="card bg-success text-white shadow">
                                        <div class="card-body">
                                            backup name here
                                            <div class="text-white-50 small">backup status here</div>
                                        </div>
                                    </div>
                                </div>
</div>
{% endblock %}

{% block row2 %}
                            <!-- Bar Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="myBarChart"></canvas>
                                    </div>
                                    <hr>
                                </div>
                            </div>
{% endblock %}


{% block js_table %}
{% load static %}
    <script src="{% static 'main/js/demo/chart-bar-demo.js' %}"></script>
{% endblock %}