{% extends "base.html" %}
{% load static %}
{% block body %}
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">


                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Page Heading -->
                    {% block page_head %}{% endblock %}


                    <!-- Content Row -->
                    {% block row1 %}{% endblock %}
                    <!-- Content Row -->

                    <!-- Content Row -->
                    {% block row2 %}{% endblock %}
                    <!-- Content Row -->

                    <!-- Content Row -->
                    {% block row3 %}{% endblock %}
                    <!-- Content Row -->
                    {% block row4 %}{% endblock %}
{#                    DEFAULTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT#}


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include "base/footer.html" %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <em class="fas fa-angle-up"></em>
    </a>

    {% include "base/logout_modal.html" %}

    {% include "base/toast_notification.html" %}

    {% include "base/js_lib.html" %}

    <!-- table -->
    {% block add_js %}{% endblock %}

    {% include "base/toastbtn.html" %}

    <script>
      document.getElementById("button_report").onclick = function() {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function(toastEl) {
        // Creates an array of toasts (it only initializes them)
          return new bootstrap.Toast(toastEl) // No need for options; use the default options
        });
       toastList.forEach(toast => toast.show());
      };
    </script>

    <script>
         $(".clickableRow").click(function() {
             var url = $(this).attr('href');
             window.open(url, '_blank');
         })
    </script>

    {% block js_table %}{% endblock %}


</body>
{% endblock %}
